<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">DASHBOARD</h1>

        <div class="tabs-container">
	        <ul class="nav nav-tabs">
	        	<!-- tabs -->
	            <li class="active"><a data-toggle="tab" href="#tab-overview">Overview</a></li>
	            <li class=""><a data-toggle="tab" href="#tab-maps">Maps</a></li>
	        </ul>
	        <div class="tab-content">
	        	<!-- tab contents -->

	        	<!-- "overview" tab -->
	            <div id="tab-overview" class="tab-pane active">
	                <div class="panel-body">
	                	

	                    <!-- graphs and charts -->
	                    <div class="row">
		                    <div class="col-lg-6">
			                    <div class="ibox float-e-margins">
			                        <div class="ibox-title">
			                            <h5>Last Two Weeks
			                                <small>Transaction and Tax</small>
			                            </h5>
			                        </div>
			                        <div class="ibox-content">
			                            <div>
			                                <div id="lineChart"></div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-lg-6">
			                    <div class="ibox float-e-margins">
			                        <div class="ibox-title">
			                            <h5>Total Transaction 
			                            	<small>Per-merchant Type</small>
		                            	</h5>
			                        </div>
			                        <div class="ibox-content">
			                            <div>
			                                <div id="pie"></div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-lg-6">
			                    <div class="ibox float-e-margins">
			                        <div class="ibox-title">
			                            <h5>Last 12 Months
			                            	<small>Earning and Tax</small>
		                            	</h5>

			                        </div>
			                        <div class="ibox-content">
			                            <div>
			                                <div id="bar"></div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-lg-6">
			                    <div class="ibox float-e-margins">
			                        <div class="ibox-title">
			                            <h5>Payment Channel</h5>

			                        </div>
			                        <div class="row">
				                        <div class="col-lg-4">
				                        	<div class="ibox-content">
					                            <div>
					                                <div id="barhorizontal1"></div>
					                            </div>
					                        </div>
				                        </div>
				                        <div class="col-lg-4">
				                        	<div class="ibox-content">
					                            <div>
					                                <div id="barhorizontal2"></div>
					                            </div>
					                        </div>
				                        </div>
				                        <div class="col-lg-4">
				                        	<div class="ibox-content">
					                            <div>
					                                <div id="barhorizontal3"></div>
					                            </div>
					                        </div>
				                        </div>
			                        </div>
			                        
			                        
			                        
			                    </div>
			                </div>
	                    </div>
	                </div>
	            </div>
	            <!-- "maps" tab -->
	            <div id="tab-maps" class="tab-pane">
	                <div class="panel-body">
	                	<div class="row">
		                	<div class="col-md-12">
		                		<div style="height: 500px;" id="map"></div>
		                	</div>
		                	
	                	</div>
	                </div>
	            </div>
	        </div>


	    </div>
    </div>
</div>