<div class="row">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h1>
                MPOS DASHBOARD
            </h1>
            <small>
                It is an application skeleton for a typical web app. You can use it to quickly bootstrap your webapp projects and dev environment for these projects.

                <form>
                    <input type="button" id="testminus1" value="-" />
                    <input type="text" id="test1" name="" />
                    <input type="button" id="testplus1" value="+" />
                </form>
            </small>
        </div>
    </div>
</div>