<div class="row">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h1>
                DEVICE MANAGEMENT
            </h1>
            <small>
                This is a device management page

                <form>
                    <input type="button" id="testminus3" value="-" />
                    <input type="text" id="test3" name="" />
                    <input type="button" id="testplus3" value="+" />
                </form>
            </small>
        </div>
    </div>
</div>
