<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
            <div class="panel-heading" id="item-form-title">
                Create New Item
            </div>
            <div class="panel-body">
                <form role="form">
                	<div class="form-group">
                    	<label>Holder</label>
                        <select id="select-holder-item" class="form-control">
                        </select>
                    </div>
                    <!-- <div class="form-group">
                    	<label>Merchant</label>
                        <select id="select-merchant-item" class="form-control">
                        </select>
                    </div> -->
                    <div class="form-group"><label>Item Code</label> <input type="text" id="code-input" placeholder="" class="form-control"></div>
                    <div class="form-group"><label>Name</label> <input type="text" id="name-input" placeholder="" class="form-control"></div>
                    <div class="form-group">
                    	<label>Item Tag</label>
                        <select id="select-itemtag-item" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-sm btn-info pull-right m-t-n-xs" data-toggle="modal" data-target="#newtagmodal">Add new tag</a>
                        <div>&nbsp;</div>
                    </div>
                    <div class="form-group">
                        <div>&nbsp;</div>
                    </div>
                    <div>
                        &nbsp;<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" id="new-item-btn"><strong>Register</strong></button>
                        <button class="btn btn-sm btn-warning pull-right m-t-n-xs" id="reset-item-btn" type="reset"><strong>Reset Form</strong></button>
                    </div>
                </form>
            </div>
        </div>
	</div>
	<div class="col-md-8">
		<div class="panel-info">
			<div class="panel-heading">
				List of Registered Items	
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped" id="item-list-table">
						<thead>
							<tr>
								<th>Code</th>
								<th>Name</th>
								<th>Merchant</th>
								<th>Item Tag</th>
								<th>Action</th>
							</tr>	
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal inmodal fade" id="newtagmodal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Create New Item Tag</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="input-new-itemtag" placeholder="Type in new item tag name" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" confirm>Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="deleteItemModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" confirm>Confirm</button>
            </div>
        </div>
    </div>
</div>