<div class="row">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h1>
                TRANSACTION
            </h1>
            <small>
                This is a transaction page

                <form>
                    <input type="button" id="testminus2" value="-" />
                    <input type="text" id="test2" name="" />
                    <input type="button" id="testplus2" value="+" />
                </form>
            </small>
        </div>
    </div>
</div>